[submodule "libs/DSharpPlus"]
    path = libs/DSharpPlus
    url = https://github.com:OoLunar/DSharpPlus.git
[submodule "libs/HyperSharp"]
	path = libs/HyperSharp
	url = https://github.com:OoLunar/HyperSharp.git
